* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    max-width: 1600px;
    padding: 0 3vw;
}

header .logo{
    margin: 0;
}

main{
    width: 100vw;
    max-width: 1600px;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
}


#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-header .photograph-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.photograph-header .photograph-data h2 {
    font-size: 36px;
    color: #D3573C;
}

.photograph-header .photograph-data span {
    color: #D3573C;
    font-size: 24px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph_filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background: #901C1C;
    min-width: 160px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dropbtn{
    padding: 12px 30px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    color: white;
    cursor: pointer;
}

.arrow-top{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-top.open {
    transform: rotate(180deg) translateY(50%);
}

.dropdown-content {
    margin-top: -3px;
    padding: 0 10px;
    width: 100%;
    display: none;
    position: absolute;
    background: #901C1C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-content button {
    padding: 10px 20px;
    border: none;
    width: 100%;
    background: none;
    border-top: 1px solid white;
    color: white;
    text-align: left;
    display: block;
    cursor: pointer;
}

.gallery_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-flow: row;
    gap: 8vw;
    margin-bottom: 50px;
}

.gallery_grid img,
.gallery_grid video {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
}

.gallery_img_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.gallery_img_title {
    color: #901C1C;
}

.gallery_img_likes_wrapper {
    color: #901C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}

.img_modal_container{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    display: none;
}

.img_modal{
    position: relative;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_modal_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_modal h3 {
    width: 100%;
    color: #901C1C;
}

.img_modal_close {
    position: absolute;
    top: 0;
    right: -5%;
    cursor: pointer;
}

.img_modal_prev {
    position: absolute;
    left: -8%;
}

.img_modal_next {
    position: absolute;
    right: -8%;
}

.modal {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}

.modal header h2 {
    width: 100%;
    font-size: 64px;
    text-align: left;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form input {
    height: 50px;
}

form textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.likes_container{
    position: fixed;
    right: 3vw;
    bottom: 0;
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    background: #DB8876;
}

.likes_number{
    display: flex;
    align-items: center;
    justify-content: center;
}